<script lang="ts">
	import { AppShell, FileDropzone, InputChip, Toast, toastStore } from '@skeletonlabs/skeleton';
	import type { ToastSettings } from '@skeletonlabs/skeleton';

	const t: ToastSettings = {
		message: 'sample auto hiding toast message',
		autohide: true
	};
	import ChatMessage from '$lib/components/ChatMessage.svelte';
	import type { ChatCompletionRequestMessage } from 'openai';
	import { notes } from '$lib/stores/basicStore';
	import { INTROTEXT, folders } from '$lib/stores/constantStore';
	import Icon from '@iconify/svelte';
	import FolderListView from '$lib/components/FolderListView.svelte';

	let query: string = '';
	let answer: string = '';
	let loading: boolean = false;
	let chatMessages: ChatCompletionRequestMessage[] = [];
	let scrollToDiv: HTMLDivElement;

	function scrollToBottom() {
		setTimeout(function () {
			scrollToDiv.scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' });
		}, 100);
	}

	function onChangeHandler(e: Event): void {
		fileUploaded = !fileUploaded;
		console.log('file data:', e);
	}

	let fileUploaded: boolean = false;
	let files: FileList;
	// const handleSubmit = async () => {
	// 	loading = true;
	// 	chatMessages = [...chatMessages, { role: 'user', content: query }];

	// 	const eventSource = new SSE('/api/chat', {
	// 		headers: {
	// 			'Content-Type': 'application/json'
	// 		},
	// 		payload: JSON.stringify({ messages: chatMessages })
	// 	});

	// 	query = '';

	// 	eventSource.addEventListener('error', handleError);

	// 	eventSource.addEventListener('message', (e:any) => {
	// 		scrollToBottom();
	// 		try {
	// 			loading = false;
	// 			if (e.data === '[DONE]') {
	// 				chatMessages = [...chatMessages, { role: 'assistant', content: answer }];
	// 				answer = '';
	// 				return;
	// 			}

	// 			const completionResponse = JSON.parse(e.data);
	// 			const [{ delta }] = completionResponse.choices;

	// 			if (delta.content) {
	// 				answer = (answer ?? '') + delta.content;
	// 			}
	// 		} catch (err) {
	// 			handleError(err);
	// 		}
	// 	});
	// 	eventSource.stream();
	// 	scrollToBottom();
	// };

	function handleError<T>(err: T) {
		loading = false;
		query = '';
		answer = '';
		console.error(err);
	}
</script>

<div class="w-full h-full flex">
	<!-- <button on:click={() => toastStore.trigger(t)}>Show Notif</button> -->

	<div class="hidden md:block md:w-1/3">
		<h2 class="text-center text-xl pt-2">Files & Folders</h2>
		<FolderListView items={folders} />
		<!-- ... -->
	</div>
	<div class="w-1/2 md:w-1/3 py-4 mx-auto">
		<FileDropzone name="files" bind:files on:change={onChangeHandler}>
			<svelte:fragment slot="lead">
				<Icon icon="bx:file" width="60px" class="mx-auto" />
			</svelte:fragment>
			<svelte:fragment slot="message">
				<span> Upload any file or drag 'n drop </span>
			</svelte:fragment>
			<svelte:fragment slot="meta">
				<span> md, png, pdf files allowed </span>
			</svelte:fragment>
		</FileDropzone>
	</div>
	<div class="w-1/2 md:w-1/3 flex flex-col pt-4 px-8 items-center gap-2">
		{#if fileUploaded}
			<div>
				<h1 class="text-2xl font-bold w-full text-center">Doc Chatter Box</h1>
				<p class="text-sm italic">Powered by "chatgpt dude"</p>
			</div>
			<div class="h-[500px] w-full bg-gray-900 rounded-md p-4 overflow-y-auto flex flex-col gap-4">
				<div class="flex flex-col gap-2">
					<ChatMessage type="assistant" message="Hello, ask me anything you want!" />
					{#each chatMessages as message}
						<ChatMessage type={message.role} message={message.content} />
					{/each}
					{#if answer}
						<ChatMessage type="assistant" message={answer} />
					{/if}
					{#if loading}
						<ChatMessage type="assistant" message="Loading.." />
					{/if}
				</div>
				<div class="" bind:this={scrollToDiv} />
			</div>
			<form
				class="flex w-full rounded-md gap-4 bg-gray-900 p-4"
				on:submit|preventDefault={() => console.log(query)}
			>
				<input type="text" class="input input-bordered w-full" bind:value={query} />
				<button type="submit" class="btn btn-accent"> Send </button>
			</form>
		{:else}
			<Icon icon="icon-park:ghost" width="60px" class="mx-auto" />
			<pre>Upload a file so we can talk!</pre>
		{/if}
	</div>
</div>
