<script lang="ts">
	import TextField from '$lib/components/TextField.svelte';
	import { INTROTEXT } from '$lib/stores/constantStore';
	import { redirect } from '@sveltejs/kit';
	import { slide, fade } from 'svelte/transition';
	import Error from '$lib/components/alerts/Error.svelte';

	let email: string;
	let password: string;
	let firstName: string;
	let lastName: string;
	let passwordConfirmation: string;
	export let form;

	console.log(form);
	let login: boolean = true;
</script>

<div
	class="h-full w-full
md:flex justify-center items-center"
>
	<div class="md:w-1/3 px-2 py-2">
		<p class="pre" in:fade={{ delay: 100, duration: 200 }}>{INTROTEXT}</p>
	</div>
	<div class="md:w-1/3 space-y-10 text-center flex flex-col items-center">
		<h2 class="h2">Welcome to DocChat.</h2>
		<!-- Animated Logo -->

		<figure>
			<section class="img-bg" />
			<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24"
				><path
					fill="currentColor"
					fill-rule="evenodd"
					d="M4 8a4.5 4.5 0 0 1 4.5-4.5h10A1.5 1.5 0 0 1 20 5v15a1 1 0 0 1-1 1H7.5a3.5 3.5 0 0 1-3.465-3H4V8Zm14.5 7.5h-11a2 2 0 1 0 0 4h11v-4ZM8.25 8A.75.75 0 0 1 9 7.25h7a.75.75 0 0 1 0 1.5H9A.75.75 0 0 1 8.25 8ZM9 10.25a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5H9Z"
					clip-rule="evenodd"
				/></svg
			>
		</figure>
		<!-- / -->
		<div>
			<a href="/about" class="btn variant-filled mx-2 my-2 px-2 py-2 hover:shadow-xl"
				>More About Us</a
			>
		</div>
	</div>
	<div class="md:w-1/3 flex flex-col">
		{#if login}
			<div in:slide={{ delay: 250 }} out:fade={{ duration: 200 }} class="pr-4">
				<h1
					class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-6"
				>
					Login
				</h1>

				<!-- {#if form?.incorrect}
					<div class="mt-4">
						<Error message="Incorrect username or password. Please try again." />
					</div>
				{/if} -->

				<form class="space-y-4 md:space-y-6" action="?/login" method="POST">
					<TextField
						id="email"
						type="email"
						placeholder="darbhasailu@gmail.com"
						label={true}
						labelText="Your Email"
						required={true}
						bind:value={email}
					/>
					<TextField
						id="password"
						type="password"
						placeholder=""
						label={true}
						labelText="Password"
						required={true}
						bind:value={password}
					/>
					<!-- <div class="flex items-start">
					<div class="flex items-center h-5">
					  <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required>
					</div>
					<div class="ml-3 text-sm">
					  <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a class="font-medium text-primary-600 hover:underline dark:text-primary-500" href="/terms-and-conditions">Terms and Conditions</a></label>
					</div>
				</div> -->
					<div class="w-full text-center space-y-6">
						<button
							class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
							>Login</button
						>
						<p class="text-sm font-light text-gray-500 dark:text-gray-400">
							Don't have an account?
							<br />
							<button class="btn variant-filled my-2" on:click={() => (login = !login)}
								>Sign-Up</button
							>
						</p>
					</div>
				</form>
			</div>
		{:else}
			<div in:slide={{ delay: 250 }} out:fade={{ duration: 200 }} class="pr-4">
				<h1
					class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-6"
				>
					Create an account
				</h1>

				<!-- TODO - improve this repeated code -->
				<!-- {#if form?.passwordsNotMatch}
					<div transition:fade>
						<Error message="The passwords do not match, please try again." />
					</div>
				{/if}

				{#if form?.required}
					<div transition:fade>
						<Error message="All fields are required, please try again." />
					</div>
				{/if} -->

				<!-- {#if form?.unique}
					<div transition:fade>
						<Error message="This email already exists, please try again." />
					</div>
				{/if} -->

				<form class="space-y-4 md:space-y-6" action="?/register" method="POST">
					<TextField
						id="firstName"
						type="text"
						placeholder="sailendra"
						label={true}
						labelText="First Name"
						required={true}
						bind:value={firstName}
					/>
					<TextField
						id="lastName"
						type="text"
						placeholder="darbha"
						label={true}
						labelText="Last Name"
						required={true}
						bind:value={lastName}
					/>
					<TextField
						id="email"
						type="email"
						placeholder="example@mail.com"
						label={true}
						labelText="Email"
						required={true}
						bind:value={email}
					/>
					<TextField
						id="password"
						type="password"
						placeholder=""
						label={true}
						labelText="Password"
						required={true}
						bind:value={password}
					/>
					<TextField
						id="password-confirmation"
						type="password"
						placeholder=""
						label={true}
						labelText="Password Confirmation"
						required={true}
						bind:value={passwordConfirmation}
					/>
					<!-- <div>
					<select class="select select-bordered w-full mt-4" bind:value={role} id="role" name="role">
						<option disabled selected>Role</option>
						<option value="ADMIN">Admin</option>
						<option value="USER">User</option>
						<option value="DEVELOPER">Dev</option>
						<option value="SALESPERSON">Sales</option>
					</select>
				</div> -->
					<div class="flex items-start">
						<div class="flex items-center h-5">
							<input
								id="terms"
								aria-describedby="terms"
								type="checkbox"
								class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
								required
							/>
						</div>
						<div class="ml-3 text-sm">
							<label for="terms" class="font-light text-gray-500 dark:text-gray-300"
								>I accept the <a
									class="font-medium text-primary-600 hover:underline dark:text-primary-500"
									href="/terms-and-conditions">Terms and Conditions</a
								></label
							>
						</div>
					</div>
					<button
						class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
						>Create an account</button
					>
					<p class="text-sm font-light text-gray-500 dark:text-gray-400">
						<!-- svelte-ignore a11y-missing-attribute -->
						<!-- svelte-ignore a11y-click-events-have-key-events -->
						Do you already have an account?
						<a
							on:click={() => (login = !login)}
							class="font-medium text-primary-600 hover:underline dark:text-primary-500"
							>Login here</a
						>
					</p>
				</form>
			</div>
		{/if}
	</div>
</div>

<style lang="postcss">
	figure {
		@apply flex relative flex-col;
	}
	figure svg,
	.img-bg {
		@apply w-64 h-64 md:w-80 md:h-80;
	}
	.img-bg {
		@apply absolute z-[-1] rounded-full blur-[50px] transition-all;
		animation: pulse 5s cubic-bezier(0, 0, 0, 0.5) infinite, glow 5s linear infinite;
	}
	@keyframes glow {
		0% {
			@apply bg-primary-400/50;
		}
		33% {
			@apply bg-secondary-400/50;
		}
		66% {
			@apply bg-tertiary-400/50;
		}
		100% {
			@apply bg-primary-400/50;
		}
	}
	@keyframes pulse {
		50% {
			transform: scale(1.5);
		}
	}
</style>
