<script lang="ts">
	export let data;
	import { Stepper, Step, Accordion, AccordionItem } from '@skeletonlabs/skeleton';
	import { FEATURES, UPCOMINGFEATURES } from '$lib/stores/constantStore.js';
	import { fade, slide } from 'svelte/transition';
	import goku from '$lib/images/goku.png';
	import vegeta from '$lib/images/vegeta.png';
	import Icon from '@iconify/svelte';
	import Carousel from '$lib/components/Carousel.svelte';
	let bool: boolean = true;

	const arr: string[] = ['Featuer 1', 'Image 2', 'Something else'];
</script>

<div class="grid grid-cols-12" in:slide={{ delay: 250 }}>
	<div class="col-span-12 md:col-span-6 p-4">
		{#key bool}
			<Stepper stepTerm="Unique Feature" on:complete={() => (bool = !bool)}>
				{#each FEATURES as FEATURE}
					<Step>
						<svelte:fragment slot="header">
							<h3 class="text-center underline">
								{FEATURE.heading}
							</h3>
						</svelte:fragment>
						<div class="flex">
							<div class="w-full lg:w-3/5">
								<p>
									{FEATURE.primaryMessage}
								</p>
								<br />
								<p>
									{FEATURE.secondaryMessage}
								</p>
							</div>
							<div class="hidden lg:block w-2/5">
								<img src={FEATURE.image} alt="book" class="w-full mx-2 rounded-lg" />
							</div>
						</div>
					</Step>
				{/each}
			</Stepper>
		{/key}
	</div>
	<div class="col-span-12 md:col-span-6 p-4">
		<h2 class="text-center underline pb-4">Upcoming Features</h2>
		<Accordion autocollapse>
			{#each UPCOMINGFEATURES as UPCOMINGFEATURE}
				<AccordionItem>
					<svelte:fragment slot="lead">
						<Icon icon={UPCOMINGFEATURE.heading} />
					</svelte:fragment>
					<svelte:fragment slot="summary">{UPCOMINGFEATURE.primaryMessage}</svelte:fragment>
					<svelte:fragment slot="content">
						<div class="flex justify-center items-center">
							<span class="w-3/5">{UPCOMINGFEATURE.secondaryMessage}</span>
							<Icon class="w-24 h-24" icon={UPCOMINGFEATURE.image} />
						</div>
					</svelte:fragment>
				</AccordionItem>
			{/each}
			<!-- ... -->
		</Accordion>
	</div>
	<div class="col-span-12 h-48 flex flex-col md:flex-row justify-center items-center">
		<div class="flex justify-center items-center px-4 my-2">
			<p class="border-b-2 pr-4" in:slide={{ delay: 400, duration: 400, axis: 'x' }}>
				<span in:fade={{ delay: 900 }}>Dr. Sailendra Darbha, Co-Founder</span>
			</p>
			<figure>
				<section class="img-bg" />
				<img src={goku} alt="vegeta" class="w-24 h-24 rounded-full" />
			</figure>
		</div>
		<div class="hidden md:block w-16" />
		<div class="flex justify-center items-center px-4 my-2">
			<figure>
				<section class="img-bg" />
				<img src={vegeta} alt="vegeta" class="w-24 h-24 rounded-full" />
			</figure>
			<p class="pl-4 border-b-2" in:slide={{ delay: 400, duration: 400, axis: 'x' }}>
				<span in:fade={{ delay: 900 }}>Pankaj Kharkwal, Co-Founder</span>
			</p>
		</div>
	</div>
</div>

<style lang="postcss">
	.img-bg {
		@apply w-24 h-24 md:w-24 md:h-24;
	}
	.img-bg {
		@apply absolute z-[-1] rounded-full blur-[5px] transition-all;
		animation: pulse 5s cubic-bezier(0, 0, 0, 0.5) infinite, glow 3s linear infinite;
	}
	@keyframes glow {
		0% {
			@apply bg-primary-400/50;
		}
		33% {
			@apply bg-secondary-400/50;
		}
		66% {
			@apply bg-tertiary-400/50;
		}
		100% {
			@apply bg-primary-400/50;
		}
	}
	@keyframes pulse {
		50% {
			transform: scale(1.5);
		}
	}
</style>
