<script lang="ts">
	import { notes, toast } from '$lib/stores/basicStore';
	import Icon from '@iconify/svelte';
	import { InputChip } from '@skeletonlabs/skeleton';
	import { FileDropzone } from '@skeletonlabs/skeleton';
	import { toastStore } from '@skeletonlabs/skeleton';
	import type { ToastSettings } from '@skeletonlabs/skeleton';

	let list: string[] = ['placeholder', 'note'];
	function onChangeHandler(e: Event): void {
		console.log('file data:', e);
	}

	const saveNoteToastMessageFunction = (num: number) => {
		let message: string = num === 1 ? 'First Note Saved' : 'All Notes Saved';

		let saveNoteToastMessage: ToastSettings = {
			message,
			autohide: true,
			background: 'variant-filled-primary'
		};

		if (num === 1) {
			notes.update((state) => [list[0], ...state]);
			toastStore.trigger(saveNoteToastMessage);
		} else if (num === 2) {
			notes.update((state) => [...list, ...state]);
			toastStore.trigger(saveNoteToastMessage);
		} else if (num === 3) {
			message = 'Last Note Saved';
			saveNoteToastMessage = { ...saveNoteToastMessage, message };
			notes.update((state) => [list[list.length - 1], ...state]);
			toastStore.trigger(saveNoteToastMessage);
		}
	};
	// function saveNotes(value: number) {
	// 	if(value === 1){
	// 		notes.update((state) => [list[0], ...state]);
	// 	}
	// 	else if (value === 2){
	// 		notes.update((state) => [list[list.length - 1], ...state]);
	// 	} else {
	// 		notes.update((state) => [...list, ...state]);
	// 	}
	// 	return undefined;
	// }

	let currentDate = new Date();
	let files: FileList;
</script>

<div>
	<div class="mx-4 px-2 my-4 py-2 flex">
		<div style="width: 60%;">
			<InputChip bind:value={list} name="chips" placeholder="Jot a few Notes..." />
		</div>
		<div style="width: 40%;" class="max-h-full flex justify-around items-center">
			<button on:click={() => saveNoteToastMessageFunction(1)} class="btn variant-filled"
				>Save First</button
			>
			<button on:click={() => saveNoteToastMessageFunction(2)} class="btn variant-filled"
				>Save All</button
			>
			<button on:click={() => saveNoteToastMessageFunction(3)} class="btn variant-filled"
				>Save Last</button
			>
		</div>
	</div>
	<div class="mx-4 px-2 my-4 py-2 flex">
		<!-- add this style below to not push the screen downward == max-height:400px; -->
		<div style="width: 60%; overflow-x:hidden; overflow-y:scroll">
			<h2 class="text-center underline">Quick Notes</h2>
			{#each $notes as note}
				<div class="card card-hover my-2 px-2">
					<div class="flex justify-around items-center">
						<div>
							<section class="p-4">{note}</section>
							<footer class="card-footer">{currentDate}</footer>
						</div>
						<div class="hover:cursor-pointer">
							<Icon icon="bx:bookmark-alt" width="40px" class="mx-auto mt-2" />
						</div>
					</div>
					<!-- <header class="card-header">(header)</header> -->
				</div>
			{/each}
		</div>
		<div style="width: 40%;" class="pl-6 mt-2">
			<FileDropzone name="files" bind:files on:change={onChangeHandler}>
				<svelte:fragment slot="lead">
					<Icon icon="bx:file" width="60px" class="mx-auto" />
				</svelte:fragment>
				<svelte:fragment slot="message">
					<span> Upload any file or drag 'n drop </span>
				</svelte:fragment>
				<svelte:fragment slot="meta">
					<span> md, png, pdf files allowed </span>
				</svelte:fragment>
			</FileDropzone>
		</div>
	</div>
	<div class="mx-4 px-2 my-4 py-2 flex">
		<div style="width: 60%;"><h2 class="text-center underline">Unsorted/Saved Notes</h2></div>
		<div style="width: 40%;" class="pl-6 mt-2">
			<h2 class="text-center underline">Notebooks</h2>
			<dl class="list-dl">
				<div class="hover:cursor-pointer">
					<span class="badge px-2 py-2 bg-yellow-300 rounded-md">💀</span>
					<span class="flex-auto">
						<dt>Necromancer's</dt>
						<dd>Book of death</dd>
					</span>
				</div>
				<!-- ... -->
				<div class="hover:cursor-pointer">
					<span class="badge px-2 py-2 bg-yellow-300 rounded-md">🔥</span>
					<span class="flex-auto">
						<dt>Pyromancer's</dt>
						<dd>Book of Fire</dd>
					</span>
				</div>
			</dl>
		</div>
	</div>
</div>
