<script lang="ts">
	import { slide, fly } from 'svelte/transition';
	import { onMount } from 'svelte';
	import coursebook from '$lib/images/coursebook.png';
	import coursebook2 from '$lib/images/coursebook2.png';
	import coursebook3 from '$lib/images/coursebook3.png';
	import coursebook4 from '$lib/images/coursebook4.png';

	export let data: string[];

	// The array of images
	let images = [coursebook, coursebook2, coursebook3, coursebook4];

	// The index of the current image
	let index = 0;

	// A function to change the index every half second
	function changeIndex() {
		index = (index + 1) % images.length;
	}

	// A timer to call the function
	let timer: number;

	// Start the timer when the component mounts
	onMount(() => {
		timer = setInterval(changeIndex, 2500);
		return () => {
			clearInterval(timer);
		};
	});
</script>

<!-- Loop over the images and show only the current one -->
{#each images as image, i}
	{#if i === index}
		<div class="w-full flex justify-center items-center">
			<img
				src={image}
				class="max-w-full max-h-72 rounded-lg"
				alt="Carousel image"
				in:fly={{ duration: 300, delay: 500, y: 200 }}
				out:fly={{ duration: 300, y: -200 }}
			/>
		</div>
	{/if}
{/each}

<style>
	/* Make the image responsive */
	img {
		/*width: 100%;*/
		object-fit: cover;
	}
</style>
