<script lang="ts">
	import type { ChatCompletionRequestMessageRoleEnum } from 'openai';
	export let type: ChatCompletionRequestMessageRoleEnum;
	export let message: string | undefined;
</script>

<div class="chat {type === 'user' ? 'chat-end' : 'chat-start'} justify-end">
	<div class="chat-image avatar">
		<div class="w-10">
			<img
				src="https://ui-avatars.com/api/?name={type === 'user' ? 'ME' : 'AI'}"
				alt="{type} avatar"
			/>
		</div>
	</div>
	<!-- <div class="chat-header">
		{type === 'user' ? 'Me' : 'Bot'}
	</div> -->
	<div class="chat-bubble {type === 'user' ? 'chat-bubble-primary' : 'chat-bubble-secondary'}">
		{message}
	</div>
</div>
