<script lang="ts">
	import Icon from '@iconify/svelte';
	import { fade, slide, fly, scale } from 'svelte/transition';
	import { flip } from 'svelte/animate';
	let toggle: boolean = false;
	export let folder: any = {};
</script>

<div>
	<div class="flex m-2 p-2" transition:scale>
		<span class="badge">
			<div on:click={() => (toggle = !toggle)}>
				<Icon
					icon={toggle ? 'basil:folder-open-solid' : 'basil:folder-solid'}
					width="40px"
					height="40px"
					class="hover:cursor-pointer"
				/>
			</div>
		</span>
		<span class="pt-2">
			<dt class="font-bold text-lg">{folder.name}</dt>
			<dd class="text-sm">{folder.description}</dd>
		</span>
	</div>
	{#if folder.files}
		{#if toggle}
			<div
				class="ml-8 pl-10 flex flex-col"
				in:fly={{ duration: 100, y: -40 }}
				out:fly={{ duration: 100, delay: 100, y: -40 }}
			>
				{#each folder.files as file}
					<span>{file}</span>
				{/each}
			</div>
		{/if}
	{/if}
</div>
