<script lang="ts">
	import { fly } from 'svelte/transition';
	import { notifications } from '$lib/stores/basicStore';
</script>

{#if notifications}
	<div class="flex flex-col">
		{#each $notifications as notification}
			<aside
				transition:fly={{ x: 200, y: -200, duration: 200 }}
				class="alert variant-filled max-w-md float-right z-10"
			>
				<!-- Icon -->
				<div>(icon)</div>
				<!-- Message -->
				<div class="alert-message">
					<h3 class="h3">{notification}</h3>
					<!-- <p>{notification}</p> -->
				</div>
				<!-- Actions -->
				<!-- <div class="alert-actions">(buttons)</div> -->
			</aside>
		{/each}
	</div>
{/if}
